[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
isort = "*"
flake8 = "==6.1.0"
dlint = "*"
flake8-bandit = "==4.1.1"
flake8-blind-except = "==0.2.1"
flake8-broken-line = "==1.0.0"
flake8-bugbear = "==23.12.2"
flake8-comprehensions = "==3.14.0"
flake8-eradicate = "==1.5.0"
flake8-string-format = "==0.3.0"
flake8-commas = "==2.1.0"
flake8-quotes = "==3.3.2"
flake8-logging-format = "==0.9.0"
mccabe = "*"
pep8-naming = "*"
pycodestyle = "*"
flake8-rst-docstrings = "==0.3.0"
flake8-pep3101 = "==2.1.0"
flake8-mutable = "==1.2.0"
coverage = "==7.3.0"
django-anymail = "==7.2"
delta-sharing = "==1.0.3"

[packages]
django-environ = "*"
psycopg2 = "==2.8.6"
celery = "<6.0"
ipython = "*"
django-templated-email = "*"
sentry-sdk = "==1.39.1"
newrelic = "*"
djangorestframework = ">=3.10"
drf-secure-token = "*"
gunicorn = "*"
futures = "==3.1.1"
# BlobPermissions not available in 12 release (https://github.com/Azure/azure-sdk-for-python/blob/22be12d5fa3604acde0695705993347787497a2e/sdk/storage/azure-storage-blob/CHANGELOG.md#1200b4-2019-10-08)
azure-storage-blob = "<12.0.0"
django-storages = {version = "*", extras = ["azure"]}
django-compressor = "*"
boto3 = "*"
Django = ">=2.2,<3"
django-model-utils = "*"
django-timezone-field = "*"
django-mptt = "*"
Pillow = "==10.1.0"
djangorestframework-gis = "*"
factory-boy = "*"
django-filter = "*"
drf-nested-routers = "*"
django-crispy-forms = "*"
xlrd = "*"
django-mapbox-location-field = "==2.0.0"
django-cors-headers = "*"
django-modeladmin-reorder = "*"
django-redis = "*"
numpy = "==1.20.1"
# The sklearn PyPI package is deprecated use scikit-learn instead
#sklearn = "*"
scikit-learn = "==1.3.2"
django-mptt-admin = "*"
isoweek = "*"
geopy = "*"
scipy = "*"
django-constance = "*"
gitpython = "*"
unicef-restlib = "*"
flask = "*"
django-simple-history = "==3.0.0"
drf-flex-fields = "==0.9.0"
django-fakery = "==3.0.0"
djangorestframework-jwt = "==1.11.0"
jsonfield = "==2.0.2"
azure-search-documents = "==11.3.0"
django-prometheus = "==2.3.1"
celery-redbeat = "==2.2.0"
flower = "==2.0.1"
django-dynamic-db-router = "==0.3.0"

[requires]
python_version = "3.8"
