Dear {{user_name}},<br/>
<p>Your API key extension for the {{api_name}} API has been rejected. Please reach out to us at <a href="mailto:{{support_email}}">{{support_email}}</a> if you would like more information.</p>
<p>We also invite you to join our Giga Maps <a href="https://discord.gg/nR5vvtC3MB">Discord community</a>, where you can
ask questions, share feedback, and connect with Giga.</p>
Regards,<br/>
The Giga Maps Team<br/>
<br/>
{% if giga_logo_url %}
  <img src="{{giga_logo_url}}" width="300">
{% endif %}
<br/>
<p><a href="{{website_url}}">Website</a> | <a href="{{linkedin_url}}">LinkedIn</a> | <a href="{{x_url}}">X</a> |
  <a href="{{instagram_url}}">Instagram</a> | <a href="{{youtube_url}}">YouTube</a> |
  <a href="{{newsletter_url}}">Newsletter</a></p>
<br/>
<p style="font-size:10px;">*This is an automated message. Replies to this email will not be monitored.</p>
