Dear {{user_name}},<br />
<p>
  Thanks for your interest in Giga Maps! Your API key for the Giga Maps
  {{api_name}} API is ready and available on your dashboard:
  <a href="{{dashboard_url}}">{{dashboard_url}}</a>.
</p>
<p>
  If you have any questions or need support, please contact us at
  <a href="mailto:{{support_email}}">{{support_email}}</a>.
</p>
<p>
  We'd also love to hear how you're using Giga Maps APIs. Would you be open to
  us checking in down the line to hear more about your project?
</p>
<p>
  And if you haven't yet, join our Discord community to connect with other
  users, ask questions, share what you're working on and stay updated
  <a href="https://discord.gg/nR5vvtC3MB">https://discord.gg/nR5vvtC3MB</a>.
</p>
Regards,<br />
The Giga Maps Team<br />
<br />
{% if giga_logo_url %}
<img src="{{giga_logo_url}}" width="300" />
{% endif %}
<br />
<p>
  <a href="{{website_url}}">Website</a> |
  <a href="{{linkedin_url}}">LinkedIn</a> | <a href="{{x_url}}">X</a> |
  <a href="{{instagram_url}}">Instagram</a> |
  <a href="{{youtube_url}}">YouTube</a> |
  <a href="{{newsletter_url}}">Newsletter</a>
</p>
<br />
<p style="font-size: 10px">
  *This is an automated message. Replies to this email will not be monitored.
</p>
