Dear {{user_name}},<br/>
<p>Thank you for your interest in Giga Maps APIs. The {{api_name}} API is currently private and limited to authorized
  users. Our team is actively working to make our APIs more accessible.</p>
<p>Please contact <a href="mailto:{{support_email}}">{{support_email}}</a> for more information.
  We also invite you to join our Giga Maps <a href="https://discord.gg/nR5vvtC3MB">Discord community</a>,
  where you can ask questions, share feedback, and connect with Giga.</p>
Regards,<br/>
The Giga Maps Team<br/>
<br/>
{% if giga_logo_url %}
  <img src="{{giga_logo_url}}" width="300">
{% endif %}
<br/>
<p><a href="{{website_url}}">Website</a> | <a href="{{linkedin_url}}">LinkedIn</a> | <a href="{{x_url}}">X</a> |
  <a href="{{instagram_url}}">Instagram</a> | <a href="{{youtube_url}}">YouTube</a> |
  <a href="{{newsletter_url}}">Newsletter</a></p>

