Dear {{user_name}},<br />
<p>Thanks for your interest in the Giga Maps {{api_name}} API.</p>
<p>
  At this time, access is limited to select partners. Based on the information
  provided, we are not able to approve your request. That said, we’re actively
  working to expand access to more users – stay tuned for updates.
</p>
<p>
  If you believe you should have access — especially if you’re part of a
  government agency working with Giga or are working on a national connectivity
  initiative — please reach out to us at
  <a href="mailto:{{support_email}}">{{support_email}}</a> so we can review your
  case. In your email please provide:
</p>
<ul>
  <li>A brief description of how you intend to use the API</li>
  <li>The countries or regions you are interested in</li>
  <li>
    An indication of whether the data will be used internally or shared with
    third parties
  </li>
  <li>Any specific endpoints or data types you are most interested in</li>
</ul>
<p>
  In the meantime, feel free to join our Giga
  <a href="https://discord.gg/nR5vvtC3MB">Discord community</a> to stay up to
  date, ask questions, share feedback, and connect with others working in this
  space.
</p>
Regards,<br />
The Giga Maps Team<br />
<br />
{% if giga_logo_url %}
<img src="{{giga_logo_url}}" width="300" />
{% endif %}
<br />
<p>
  <a href="{{website_url}}">Website</a> |
  <a href="{{linkedin_url}}">LinkedIn</a> | <a href="{{x_url}}">X</a> |
  <a href="{{instagram_url}}">Instagram</a> |
  <a href="{{youtube_url}}">YouTube</a> |
  <a href="{{newsletter_url}}">Newsletter</a>
</p>
<br />
<p style="font-size: 10px">
  *This is an automated message. Replies to this email will not be monitored.
</p>
