Dear {{user_name}},<br />
<p>
  Thanks for your continued interest in Giga Maps. Your request to extend your
  API key for {{api_name}} wasn’t approved.
</p>
<p>
  If you’d like to better understand the decision or explore other options, we’d
  be happy to chat – just reach out to us at
  <a href="mailto:{{support_email}}">{{support_email}}</a>.
</p>

<p>
  And if you haven't already, feel free to join our Discord community to stay in
  the loop, connect with other users, and share feedback:
  <a href="https://discord.gg/nR5vvtC3MB">https://discord.gg/nR5vvtC3MB</a>.
</p>
Regards,<br />
The Giga Maps Team<br />
<br />
{% if giga_logo_url %}
<img src="{{giga_logo_url}}" width="300" />
{% endif %}
<br />
<p>
  <a href="{{website_url}}">Website</a> |
  <a href="{{linkedin_url}}">LinkedIn</a> | <a href="{{x_url}}">X</a> |
  <a href="{{instagram_url}}">Instagram</a> |
  <a href="{{youtube_url}}">YouTube</a> |
  <a href="{{newsletter_url}}">Newsletter</a>
</p>
<br />
<p style="font-size: 10px">
  *This is an automated message. Replies to this email will not be monitored.
</p>
